@page "/"

<PageTitle>Home</PageTitle>

<div>
    <div class="homerow">
        <div class="homecol">
            <h1 class="homeh1">EventHub</h1>
            <p class="homep">Welcome to EventHub, your ultimate destination for discovering and attending exciting events. Browse a diverse array of events, from concerts and festivals to workshops and conferences, and secure your tickets hassle-free. Join EventHub today and immerse yourself in a world of unforgettable experiences!</p>
        </div>
        <div class="homecol">
            <div class="homecard card1">
                @* <h5>Event1</h5>
                <p>Event1 Details</p> *@
            </div>
            <div class="homecard card2">
                @* <h5>Event2</h5>
                <p>Event2 Details</p> *@
            </div>
            <div class="homecard card3">
                @* <h5>Event3</h5>
                <p>Event3 Details</p> *@
            </div>
            <div class="homecard card4">
                @* <h5>Event4</h5>
                <p>Event4 Details</p> *@
            </div>
        </div>
    </div>
</div>
